/* Add back only the minimal DLP assumptions */
.PhoneNumberDisp-No {
	display: none;
}
.PhoneNumberDisp-Yes {
	visibility: visible;
}
.CompleteDisp-Yes {
	visibility: visible;
}
.CompleteDisp-No {
	display: none;
}

#individualFieldError {
	/* width: 110px !important; */
	float: left !important;
	margin: 0 !important;
	font-size: 12px;
	clear: both;
}

.form-submitting-copy {
	background: none repeat scroll 0 0 green;
	color: #FFFFFF;
	font-family: arial;
	font-size: 20px;
	height: 28px;
	padding: 8px;
	text-align: center;
	margin-top: 10px;
}

#modal-window {
	display: block;
}
.loading {
    text-align: center;
}

#modal-overlay {
    background: #000;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
	top: 0;
}
#modal_content {
    background: #FFF;
    display: block;
    padding: 30px;
    margin: 150px auto;
    opacity: 1;
    position: relative;
    visibility: visible;
    width: 450px;
}


#cbform { 
	border: 1px #c7c7c7 solid !important ; 
} 
#main .container { 
	border: 1px #c7c7c7 solid !important ; 
} 
#cbform span { 
	font-size:1em; 
} 	
		
		