/* LESS Document */
html {}

/* ==========================================================================
helper classes
========================================================================== */


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}
h1 {}
h2 {}
p {}
em {}
fieldset {}

/* ==========================================================================
   error styles
   ========================================================================== */


/* ==========================================================================
	Header
   ========================================================================== */
#header {}


/* ====================================================================
   Price styles
   ========================================================================== */

.price-block {
	.opensans-bold;
	font-size: 2.5em;
    .preamble {
         display:block;
         font-size:.5em;
        }
    .cents {
        display: inline-block;
        position: relative;
        bottom: .75em;
        font-size: .5em;
        }
    }

.charter-icons {
	position: relative;
	top: 0px;
	display: inline-block;
	font-family: 'charter-icons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    }
.btn .charter-icons {
	position: absolute;
	right: 0px;
	padding: 0.3em .4em;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
    }
.btn-md .charter-icons {
	padding: 0.35em .4em;
    }
.charter-icons-chevron-right:before {
	content: "\e601";
    }
.charter-icons-chevron-left:before {
	content: "\e602";
    }
.charter-icons-chevron-down:before {
	content: "\e603";
    }
.charter-icons-chevron-up:before {
	content: "\e600";
    }


/* ====================================================================
   radio
   ========================================================================== */

/* ====================================================================
   checkbox
   ========================================================================== */

/* ====================================================================
   Select
   ========================================================================== */

/* ====================================================================
   input
   ========================================================================== */

/* ====================================================================
   cart style
   ========================================================================== */

/* ====================================================================
   Main-offer
   ========================================================================== */

/* ====================================================================
   Modal
   ========================================================================== */

 /* ====================================================================
   Footer
   ========================================================================== */


/*
New Styles
=============
*/
html {

}
body {
  .opensans-regular;
  font-size: 100%;
  background: transparent;
}
a {
  color: @charter-dark-blue;
  text-decoration: underline;
  &:hover, &:active, &:focus {
    color: lighten(@charter-dark-blue, 33%);
    text-decoration: none;
    outline: 0;
  }
  &.contact-link {
    .opensans-bold;
    color: @charter-text;
  }
  &.large-text-link {
    .opensans-bold;
    .clickable-chevron;
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  & > a {
    text-decoration: none;
  }
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}
ol > li {
  margin-left: 1.5em;
}
hr {
  height: 1px;
  background: @charter-yellow;
  border: none;
}

i {
	.opensans-italic;
}

strong {
  .opensans-bold;
  &.large-phone-number {
    .font-size(18px);
    color: @charter-brand-green;
    A {
    	color: @charter-brand-green;
    	text-decoration: none;
    }
  }
  &.blue {
    color: @charter-dark-blue;
  }
}
sup {
  top: -0.45em;
  font-size: 60%;
}

.disclaimer,
.legal-text {
  font-size: 11px !important;
}

