/* LESS Document */

/*Contains little arrow used in buttons*/
@font-face {
	font-family: 'charter-icons';
	src: url('/mediacontent/spectrum-campaign-q2-2015/fonts/charter-icons/charter-icons.eot');
	src: url('/mediacontent/spectrum-campaign-q2-2015/fonts/charter-icons/charter-icons.eot?iefix') format('eot'),
         url('/mediacontent/spectrum-campaign-q2-2015/fonts/charter-icons/charter-icons.woff') format('woff'),
         url('/mediacontent/spectrum-campaign-q2-2015/fonts/charter-icons/charter-icons.ttf') format('truetype'),
         url('/mediacontent/spectrum-campaign-q2-2015/fonts/charter-icons/charter-icons.svg#webfont') format('svg');
}

.opensans(@face, @weight: 400, @style: normal) {
  font-family: @face, Helvetica, arial, sans-serif;
  font-weight: @weight;
  font-style: @style;
}

.opensans-light {
  .opensans('Open Sans', 300);
}
.opensans-regular {
  .opensans('Open Sans');
}
.opensans-semibold {
  .opensans('Open Sans', 600);
}
.opensans-bold {
  .opensans('Open Sans', 700);
}
.opensans-italic {
  .opensans('Open Sans', 400, italic);
}
