.no-risk-module {
	background-color: white;
	&:extend(.drop-shadow-bg);
	h2 {
		.opensans-bold;
		.font-size(24px);
		margin: .75em 0 .5em 0;
		text-align: center;
		color: @lp-darker-blue-text;
		@media (min-width: @screen-xs-min) {
			.font-size(30px);
		}
		@media (min-width: @screen-sm-min) {
			.font-size(32px);
		}
	}
	h5 {
		.opensans-bold;
		.font-size(16px);
		color: @charter-black;
		text-align: center;
	}
	.risk-description {
		text-align: center;
		@media (min-width: @screen-md-min) {
			margin: 0 1em;
		}
	}
	.risk-icon-area {
		margin-top: 1em;
		margin-bottom: 2em;
		@media(min-width: @screen-sm-min) {
			margin-top: 0em;
			margin-bottom: 0em;
		}
	}
	.icon-area {
		position: relative;
		margin: 1em auto;
		width: 120px;
		height: 120px;
	}
	.icon-container {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 16px solid white;
		padding: 18px;
		&:extend(.img-svg-responsive all);
		.transition-properties(border .8s ease-in-out);
		.ie8 & {
			border-color: white;
		}
	}
	.strike-through {
		background: #c00;
		width: 8px;
		height: 0%;
		position: absolute;
		top: 18%;
		left: 12%;
		transform: rotate(-45deg);
		transform-origin: top left;
		.transition-properties(height .8s ease-in-out);
		transition-delay: .8s;
		.ie8 & {
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			transform: rotate(0deg);
			background: transparent no-repeat center;
			.bg-img("strikethru.png");
		}
	}
	&.introduced {
		.icon-container {
			border-color: #c00;
			.ie8 & {
				border-color: white;
			}
		}
		.strike-through {
			height: 99%;
			.ie8 & {
				height: 100%;
			}
		}
	}
}