.tv-features-module {
	background-color: #f5f5f5;
	&:extend(.drop-shadow-bg);
	padding: 2.5em 0;
	h2 {
		.opensans-bold;
		margin: 0 0 .75em 0;
		text-align: center;
		color: @lp-darker-blue-text;
		.font-size(24px);
		@media (min-width: @screen-xs-min) {
		}
		@media (min-width: @screen-sm-min) {
			.font-size(30px);
		}
		@media (min-width: @screen-md-min) {
		}
	}
	h4 {
		.opensans-bold;
		text-transform: uppercase;
		color: #373737;
		.font-size(14.4px);
		margin-bottom: 1em;
		@media( min-width: @screen-xs-min) {
			.font-size(24px);
		}
	}
	ul li {
		.bullets;
		margin-bottom: 1em;
		.font-size(11px);
		@media(min-width: @screen-xs-min) {
			.font-size(18px);
		}
	}
	.price-area {
		padding: 0 22% 0 0;
		margin-bottom: 1em;
		&:extend(.img-svg-responsive all);
		@media(min-width: @screen-xs-min) {
			padding: 0 44% 0 0;
		}
		@media(min-width: @screen-sm-min) {
			padding: 0 22%;
		}
	}
	footer {
		.opensans-bold;
		.font-size(10px);
		color: #626262;
		text-align: center;
		text-transform: uppercase;
		@media( min-width: @screen-xs-min) {
			.font-size(14px);
		}
	}
	.tv-features-bg {
		height: 238px;
		.bg-img("tv-features-bg.jpg");
		background-size: auto 80%;
		background-repeat: no-repeat;
		background-position: -150%;
		.transition-properties( background-position .6s ease-in-out );
		.ie8 & {
			.bg-img("tv-features-bg-ie.jpg");
		}
		@media( min-width: @screen-xs-min) {
			height: 338px;
		}
		@media( min-width: @screen-sm-min) {
			background-size: auto 100%;
			background-position: -150%;
		}
		@media( min-width: @screen-md-min) {
			background-size: cover;
		}
	}
	&.introduced {
		.tv-features-bg {
			background-position: 0%;
		}
	}
}