.new-phone-features-module {
	@competitor-transition-delay: 2.79s;
	h2 {
		.opensans-bold;
		.font-size(24px);
		margin: 0 0 .75em 0;
		color: @lp-darker-blue-text;
		text-align: center;
		@media (min-width: @screen-xs-min) {
			.font-size(26px);
		}
		@media (min-width: @screen-sm-min) {
			.font-size(22px);
		}
		@media (min-width: @screen-md-min) {
			.font-size(29px);
		}
	}
	.callout-area {
		opacity: 0;
		transition: opacity .8s ease-in-out;
		transition-delay: @competitor-transition-delay;
		@media (min-width: @screen-sm-min) {
			padding-left: 0;
		}
	}
	.phone-feature-meters-section {
		@media(min-width: @screen-xs-min) {
			width: 480px;
			margin: auto;
		}
		@media(min-width: @screen-sm-min) {
			width: auto;
		}
	}
	.phone-feature-meter-area {
		margin-bottom: 1.5em;
		&.spectrum {
			.phone-feature-meter-well {
				width: percentage(20/20);
			}
			.speed-meter-co-name {
				.opensans-bold;
				.font-size(14px);
				line-height: 2em;
				@media (min-width: @screen-xs-min) {
					.font-size(18px);
				}
				@media (min-width: @screen-sm-min) {
					.font-size(17px);
				}
				@media (min-width: @screen-md-min) {
					.font-size(21px);
				}
				color: @charter-black;
				text-align: left;
				text-transform: uppercase;
			}
			.speed-meter-fill {
				background: @charter-dark-blue;
			}
		}
		&.att {
			.phone-feature-meter-well {
				width: percentage(12/20);
				.central-states & {
					width: percentage(16/20);
				}
			}
		}
		&.introduced {
			.speed-meter-co-name {
				opacity: 1;
			}
			.phone-feature-meter-well {
				.phone-meter-icon:first-child {
					 opacity: 1;
				}
			}
			.phone-feature-meter-area {
				
			}
		}
		&.frontier {
			.phone-feature-meter-well {
				width: percentage(20/20);
			}
		}
		&.centurylink {
			.phone-feature-meter-well {
				width: percentage(10/20);
			}
		}	
	}
	.speed-meter-co-name {
		.opensans-semibold;
		.font-size(16px);
		color: @charter-black;
		opacity: 0;
		transition: opacity .8s ease-in-out;
		.caption {
			.opensans-regular;
			color: #707070;
		}
	}
	.phone-feature-meter-well {
		width: 100%;
		position: relative;
		.icon-wrapper {
			font: 0/0 a;
			display: inline-block;
			white-space: nowrap;
		}
		@icon-xxs-reduce : .475;
		@icon-xs-reduce : .7;
		@icon-sm-reduce : .75;
		.phone-meter-icon {
			opacity: 0;
			display: inline-block;
			background-repeat: none;
			background-size: cover;
			transition: opacity .33s ease-in-out;
			width: @icon-xxs-reduce*22px;
			height: @icon-xxs-reduce*30px;
			@media(min-width: @screen-xs-min) {
				width: @icon-xs-reduce*22px;
				height: @icon-xs-reduce*30px;
			}
			@media(min-width: @screen-sm-min) {
				width: @icon-sm-reduce*22px;
				height: @icon-sm-reduce*30px;
			}
			@media(min-width: @screen-md-min) {
				width: 22px;
				height: 30px;
			}
			&.intro {
				opacity: 1;
				margin-left: @icon-xxs-reduce*-3px;
				@media(min-width: @screen-xs-min) {
					margin-left: @icon-xs-reduce*-3px;
				}
				@media(min-width: @screen-sm-min) {
					margin-left: @icon-sm-reduce*-3px;
				}
				@media(min-width: @screen-md-min) {
					margin-left: -3px;
				}
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	.phone-feature-meter-area {
		&.spectrum {
			.phone-meter-icon {
				.bg-img("phone-features-icon-spectrum.png");
			}
		}
		&.competitor {
			.phone-meter-icon {
				.bg-img("phone-features-icon-competitor.png");
			}
		}
	}
	.secondary-callout {
		.opensans-bold;
		color: @lp-darker-blue-text;
		.font-size(17px);
		line-height: 1.25em;
		text-align: center;
		@media( min-width: @screen-md-min ) {
			.font-size(20px);
		}
		.strongest {
			.opensans-bold;
			font-size: 2.5em;
			letter-spacing: -2px;
			line-height: 1em;
			display: block;
			float: left;
			width: 30%;
			text-align: right;
			@media( min-width: @screen-sm-min ) {
				.font-size(73px);
				float: none;
				width: auto;
				text-align: center;
			}
			@media(min-width: @screen-md-min) {
				.font-size(90px);
				.central-states & {
					margin-top: -.25em;
				}
			}
		}
		.strong {
			width: 70%;
			float: left;
			text-align: left;
			padding-left: .5em;
			@media( min-width: @screen-sm-min ) {
				float: none;
				width: auto;
				text-align: center;
				padding: 0;
			}
		}
		@media(min-width: @screen-xs-min) {
			.font-size(15px);
			.central-states & {
			}
		}
		@media(min-width: @screen-md-min) {
			.font-size(19px);
		}
	}
	&.introduced {
		.callout-area {
			opacity: 1;
		}
	}
	.ie8-fallback;
}