.intro-module {
	position: relative;
	background: #0b2b44 no-repeat center center;
	background-size: cover;
	.bg-img("intro-module-bg.jpg");
	overflow: hidden;
	@media(min-width: @screen-xs-min) {
		padding-top: 4%;
	}

	.central-states & {
		.bg-img("intro-module-bg-cs.jpg");
	}
	.intro-foreground {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		margin: auto;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		opacity: 0;
		@media(min-width: @screen-xs-min) {
			width: 100%;
		}
	}
	.head-wrapper {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		&:extend(.img-svg-responsive all);
		opacity: 1;
		img {
			@media(min-width: @screen-md-min) {
				width: auto;
			}
		}
		@media(min-width: @screen-xs-min) {
		}
	}
	.intro-price {
		width: 100%;
		position: relative;
		z-index: 3;
		padding: 140px 0 8px;
		text-align: center;
		.img-svg-responsive;
		@media(min-width: @screen-xs-min) {
			padding: 220px 0 20px;
		}
		@media(min-width: @screen-md-min) {
			img {
				width: auto;
			}
		}
	}
}