.new-speed-comparison-module {
	h2 {
		.opensans-bold;
		.font-size(23px);
		color: @lp-darker-blue-text;
		text-align: center;
		margin: 1em 0;
		@media(min-width: @screen-md-min) {
			.font-size(32px);
		}
	}
	.internet-speed-callout {
		opacity: 0;
		transition: opacity .8s ease-in-out;
		transition-delay: .8s;
		.img-svg-responsive;
		img {
			margin-bottom: 1em;
		}
		@media(max-width: @screen-xxs-max) {
			.col-xs-11;
		  margin: auto;
		  float: none;
		  padding: 0;
		}
		.central-states & {
			margin-top: 1em;
			margin-left: 0;
			.col-xs-4;
			@media(max-width: @screen-xxs-max) {
				margin: auto;
				float: left;
				padding: 0;
			}		
		}
		.callout-part {
			color: @lp-darker-blue-text;
			display: inline-block;
			.opensans-semibold;
			vertical-align: text-top;
			margin-bottom: .5em;
			.central-states & {
				text-align: center;
				display: block;
			}
		}
		@xxs-reduce: .65;
		@sm-reduce: .75;
		.eq0 {
			text-align: right;
			.font-size(@xxs-reduce * 19.36px);
			line-height: @xxs-reduce * 29px;
			@media(min-width: @screen-xs-min) {
				.font-size(@sm-reduce * 19.36px);
				line-height: @sm-reduce * 29px;
			}
			@media(min-width: @screen-md-min) {
				.font-size(19.36px);
				line-height: 29px;
			}
			.central-states & {
				text-align: center;
				margin: 0;
			}
		}
		.eq1 {
			.eq1-xxs-font {
				.font-size(@xxs-reduce * 86px);
				line-height: @xxs-reduce * 70px;
			}
			.eq1-sm-font {
				.font-size(@sm-reduce * 86px);
				line-height: @sm-reduce * 70px;
			}
			.eq1-md-font {
				.font-size(86px);
				line-height: 70px;
			}
			.opensans-bold;
			margin: 0 @sm-reduce * 8px;
			.eq1-xxs-font;
			@media(min-width: @screen-xs-min) {
				.eq1-sm-font;
			}
			@media(min-width: @screen-md-min) {
				.eq1-md-font;
			}
			.central-states & {
				margin-bottom: .1em;
				.font-size(52.43px);
				@media(min-width: @screen-xs-min) {
					.eq1-sm-font;
				}
				@media(min-width: @screen-md-min) {
					.eq1-md-font;
				}
			}
		}
		.eq2 {
			.eq2-xxs-font {
				.strong {
					.font-size(@xxs-reduce * 39.26px);
				}
				.font-size(@xxs-reduce * 24.68px);
				line-height: @xxs-reduce * 39px;
			}
			.eq2-sm-font {
				.strong {
					.font-size(@sm-reduce * 39.26px);
				}
				.font-size(@sm-reduce * 24.68px);
				line-height: @sm-reduce * 39px;
			}
			.eq2-md-font {
				.strong {
					.font-size(39.26px);
				}
				.font-size(24.68px);
				line-height: 39px;
			}
			.strong {
				display: block;
				.opensans-bold;
			}
			.eq2-xxs-font;
			@media(min-width: @screen-xs-min) {
				.eq2-sm-font;
			}
			@media(min-width: @screen-md-min) {
				.eq2-md-font;
			}
			.central-states & {
				.font-size(13.41px);
				@media(min-width: @screen-xs-min) {
					.eq2-sm-font;
				}
				@media(min-width: @screen-md-min) {
					.eq2-md-font;
				}
			}
		}
	}
	.speedometer-col.competitor {
		padding: 0 .25em;
		@media(min-width: @screen-md-min) {
			padding: 0 15px;
		}
	}
	.speedometer-holder {
		position: relative;
		.needle {
			height: 3px;
			position: absolute;
			background: black;
			left: 50%;
			transform: rotate(-218deg);
			transform-origin: left center;
		  @media(min-width: @screen-xs-min) {
				height: 4px;
			}
		}
		.speed-label {
			text-align: center;
			.opensans-bold;
			padding-top: 73%;
		}
		.company-label {
			text-align: center;
			color: @charter-black;
			.opensans-bold;
			line-height: 1.25em;
			margin-top: .25em;
			.central-states & {
				text-transform: uppercase;
			}
		}
		&.spectrum {
			width: 225px;
			height: 250px;
			margin: auto;
			@media(min-width: @screen-xs-min) {
				width: 136px;
				height: 225px;
			}
			@media(min-width: @screen-md-min) {
				width: 185px;
			}
			.central-states & {
				width: 100px;
				height: 120px;
			  @media(min-width: @screen-xs-min) {
					width: 156px;
					height: 176px;
			  }
				@media(min-width: @screen-md-min) {
					width: 185px;
					height: 225px;
				}
			}
			.speedometer-bg {
				height: 200px;
				margin: auto;
				.bg-img("speed-spectrum-speedometer-bg.png");
				background-repeat: no-repeat;
				background-size: 100%;
			}
			.needle {
				height: 4px;
				width: 33%;
				top: 45%;
				transition: transform 2.5s ease-in;
				@media(min-width: @screen-xs-min) {
					top: 30%
				}
				@media(min-width: @screen-md-min) {
					top: 41%
				}
				.central-states & {
					height: 3px;
					top: 50px;
					@media(min-width: @screen-xs-min) {
						height: 4px;
						top: 78px;
					}
					@media(min-width: @screen-md-min) {
						top: 92.5px;
					}
				}
			}
			.speed-label {
				.font-size(15.24px);
				@media(min-width: @screen-xs-min) {
					.font-size(22px);
				}
				@media(min-width: @screen-md-min) {
					.font-size(27px);
				}
			}
			.company-label {
				text-transform: uppercase;
				.font-size(15px);
				@media(min-width: @screen-xs-min) {
				}
				@media(min-width: @screen-md-min) {
					.font-size(18px);
				}
				.central-states & {
					.font-size(10.75px);
					@media(min-width: @screen-xs-min) {
						.font-size(14.17px);
					}
					@media(min-width: @screen-md-min) {
						.font-size(18px);
					}
				}
			}
		}
		&.competitor {
			width: 100px;
			height: 137px;
			margin: auto;
			@media(min-width: @screen-md-min) {
				width: 115px;
			}
			.central-states & {
				width: 84px;
				height: 120px;
				padding: 0;
			  margin-top: 1.25em;
			  @media(min-width: @screen-xs-min) {
					width: 136px;
					height: 156px;
			  }
				@media(min-width: @screen-md-min) {
					width: 156px;
				}
			}
			.speedometer-bg {
				width: 100%;
				margin: auto;
				.bg-img("speed-competitor-speedometer-bg.png");
				background-repeat: no-repeat;
				background-size: 100%;
				.central-states & {
					.bg-img("speed-competitor-speedometer-bg.png");
				}
			}
			.needle {
				top: 33.5%;
				width: 31%;
				transition: transform .8s ease-in;
				@media(min-width: @screen-md-min) {
					top: 37.5%;
				}
				.central-states & {
					top: 39px;
					@media(min-width: @screen-xs-min) {
						top: 63px;
					}
					@media(min-width: @screen-md-min) {
						top: 73px;
					}
				}
			}
			.speed-label {
				.font-size(13.27px);
				.central-states & {
					.font-size(12.17px);
					@media(min-width: @screen-xs-min) {
						.font-size(16px);
					}
				}
			}
			.company-label {
				.font-size(14px);
				@media(min-width: @screen-xs-min) {
				}
				@media(min-width: @screen-md-min) {
					.font-size(16.7px);
				}
				.central-states & {
					.font-size(9.75px);
					@media(min-width: @screen-xs-min) {
						.font-size(13.12px);
					}
					@media(min-width: @screen-md-min) {
						.font-size(16px);
					}
				}
			}
		}
	}
	&.introduced {
		.internet-speed-callout {
			opacity: 1;
		}
		.speedometer-holder {
			&.spectrum {
				.needle {
					transform: rotate(29deg);
					animation: spectrum-wobble .075s ease-out 2.5s infinite alternate;
				}
			}
			&.competitor {
				.needle {
					transform: rotate(-202deg);
					animation: competitor-wobble .15s ease-out .8s infinite alternate;
				}
			}
		}
	}
	.ie8-fallback;
}
@keyframes spectrum-wobble {
	 from { transform: rotate(26deg); }
	 to   { transform: rotate(32deg); }
}
@keyframes competitor-wobble {
	from  { transform: rotate(-204deg); }
	to    { transform: rotate(-200deg); }
}