.form-col-wrapper{
	&::-webkit-scrollbar {
		width: 1px;
	}
	&::-webkit-scrollbar-track {
	}
	&::-webkit-scrollbar-thumb {
	    background: fadeout(black, 100%);
	}
}
.col-aside {
	.form-col-wrapper {
		padding-bottom: 4em;
	}
	&.sticky {
		.form-col-wrapper {
			position: fixed;
			bottom: 0;
			overflow-y: auto;
			overflow-x: hidden;
			@media(min-width: @screen-sm-min) {
				top: 73px;
			}
		}
	}
}
.mobile-form-container {
	padding-top: 1em;
	padding-bottom: 2.5em;
	background-color: #f2f2f2;
	@media (min-width: @screen-sm-min) {
		display: none;
	}
}
.form-col-wrapper {
	position: relative;
	top: 0px;
	.transition-properties(top .8s ease-in-out);
		
	h2 {
		.font-size(24px);
		.opensans-bold;
		margin-bottom: .5em;
		.phone {
			color: @charter-dark-blue;
		}
	}
	hr.paragraph-divide {
		margin: .4em 0;
	}
	.instructions {
		color: #666;
		.font-size(12px);
	}
	label p {
		margin-bottom: 0;
		font-weight: normal;
		color: #444;
	}
	p.required-caption {
		.font-size(10px);
		color: @charter-dark-blue;
	}
	label {
		margin-bottom: .2em;
	}
	.form-group {
		margin-bottom: .4em;
	}
	.btn.cta.cta-large-promo {
		.ie8 & {
			padding: 0 3em;
			&:after {
				display: none;
			}
		}
	}
	@media(min-width: @screen-sm-min) {
		padding-top: 1.5em;
		h2 {
			.font-size(18px);
		}
		.btn.cta.cta-large-promo {
			padding-left: 1.3em;
			padding-right: 3.15em;
		}
	}
	@media(min-width: @screen-md-min) {
		padding-top: 2.5em;
		h2 {
			.font-size(24px);
		}
		.btn.cta.cta-large-promo {
			padding-left: 3em;
			padding-right: 4.85em;
		}
	}
	.lead-button-container {
		text-align: center;
		.ie8 & {
			text-align: center;
		}
		@media(min-width: @screen-sm-min) {
			text-align: inherit;
		}
	}
}