.features-reveal-module {
	height: auto;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	@media (min-width: @screen-sm-min) {
		height: 450px;
	}
	@media (min-width: @screen-md-min) {
		height: 490px;
	}
	h2 {
		.opensans-bold;
		.font-size(24px);
		margin-top: 18px;
		text-align: center;
		@media (min-width: @screen-xs-min) {
			margin-top: 30px;
			.font-size(26px);
		}
		@media (min-width: @screen-md-min) {
			.font-size(35px);
		}
		hr {
			width: 94%;
			margin-top: 15px;
		}
	}
	.reveal-background-content {
		margin-top: 0;
		height: 100%;
		@media (min-width: @screen-sm-min) {
			margin-top: 20%;
			height: auto;
		}
		@media (min-width: @screen-md-min) {
			margin-top: 15%;
		}
	}
	.reveal-background {
		position: absolute;
		background-color: white;
		&:extend(.drop-shadow-bg);
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.font-size(12px);
		@media (min-width: @screen-md-min) {
			.font-size(14px);
		}
		h2 {
			color: @charter-yellow;
			width: 100%;
			left: 0;
			right: 0;
		}
		> h2 {
			display: none;
			position: absolute;
			@media (min-width: @screen-sm-min) {
				display: block;
			}
		}
		footer {
			.opensans-bold;
			color: @charter-black;
			.font-size(12px);
			text-align: center;
			text-transform: uppercase;
			clear: both;
			.ie8 & {
				.font-size(11px);
			}
			@media (min-width: @screen-xs-min) {
				.font-size(14px);
			}
			@media (min-width: @screen-sm-min) {
				.font-size(9px);
			}
			@media (min-width: @screen-md-min) {
				.font-size(13px);
			}
		}
		.content-wrapper {
			@media (min-width: @screen-sm-min) {
				padding: 0;
			}
		}
		.price-header {
			.opensans-semibold;
			.font-size(14px);
			line-height: 1.2em;
			color: #4b4b4b;
			margin-left: .25em;
			margin-bottom: .75em;
			.underline {
				.font-size(18.5px);
				border-bottom: 1px solid @charter-yellow;
			}
			.strong {
				.opensans-bold;
			}
			.central-states & {
				.font-size(17px);
				line-height: 1.4em;
			}
		}
		.price {
			margin-bottom: 2em;
			@media (min-width: @screen-sm-min) {
				margin-bottom: 1em;
			}
		}
		.content-panel {
			h4 {
				margin-bottom: .25em;
			}
			.price-area {
				width: 80%;
				&:extend(.img-svg-responsive all);
				@media (min-width: @screen-xs-min) {
					width: 50%;
				}
				@media (min-width: @screen-sm-min) {
					width: 100%;
				}
			}
			ul {
				margin-bottom: 1.25em;
				li {
					.strong {
						color: @charter-dark-blue;
					}
				}
			}
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: 50% auto;
			height: 50%;
			padding-top: 7%;
			@media( min-width: @screen-sm-min) {
				height: auto;
				padding-top: 0;
			}
		}
		.left-panel {
			.bg-img("features-reveal-internet.jpg");
			background-position: -40%;
			.ie8 & {
				.bg-img("features-reveal-internet-ie.jpg");
				background-position: -185px 25%;
			}
			.central-states & {
				.bg-img("features-reveal-internet-cs.jpg");
				.ie8 & {
					.bg-img("features-reveal-internet-cs-ie.jpg");
					background-position: -185px 25%;
				}
			}
			@media( min-width: @screen-sm-min) {
				background-size: 100% auto;
				background-position: -185px 25%;
			}
			@media( min-width: @screen-md-min) {
				background-position: -225px 25%;
			}
			.strong {
				.opensans-bold;
			}
			ul li,
			p {
				line-height: 1.8*.8em;
			}
		}
		.right-panel {
			.bg-img("features-reveal-voice.png");
			background-position: 130% 40%;
			.ie8 & {
				.bg-img("features-reveal-voice-ie.png");
			}
			@media( min-width: @screen-sm-min) {
				background-position: 150px 25%;
				background-size: 80% auto;
			}
			@media( min-width: @screen-md-min) {
				background-position: 184px 25%;
			}
			.strong {
				.opensans-bold;
			}
			ul li,
			p {
				line-height: 1.8*.8em;
			}
		}
	}
	.reveal-panel {
		position: relative;
		color: white;
		height: 395px;
		overflow: hidden;
		.bg-img("features-reveal-bg.jpg");
		background-color: #053b5c;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		background-position-y: top;
		.central-states & {
			.bg-img("features-reveal-bg-cs.jpg");
		}
		@media( min-width: @screen-sm-min) {
			height: 100%;
			background-size: auto 84.66%;
		}
		@media( min-width: @screen-md-min) {
			background-size: cover;
		}
		h2 {
			color: @charter-yellow;
			width: 100%;
			position: absolute;
			@media (min-width: @screen-sm-min) {
				width: 200%;
			}
		}
		.callout-wrapper {
			width: 188px;
			height: 188px;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: none;
		}
		.callout {
			text-align: center;
			display: table;
			height: 100%;
			width: 100%;
		}
		.callout-content {
			.opensans-light;
			display: table-cell;
			vertical-align: middle;
			height: 100%;
			width: 100%;
			border: 1px solid white;
			.font-size(10px);
			opacity: 0;
			.transition-properties(opacity .8s ease-in-out);
		}
		.reveal-trigger {
			.opensans-regular;
			.font-size(18px);
			display: block;
			padding: 0 .5em;
			color: @charter-yellow;
			border: 1px solid @charter-yellow;
			line-height: 32px;
			height: 36px;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			position: absolute;
			top: 85%;
			left: 18%;
			right: 18%;
			@media (min-width: @screen-md-min) {
				left: 24%;
				right: 24%;
			}
		}
		&.left-panel {
			left: 0%;
			.bg-img("features-reveal-internet-bg.jpg");
			@media (min-width: @screen-sm-min) {
				background-position-x: left;
				.bg-img("features-reveal-bg.jpg");
			}
			.ie8 & {
			}
			.central-states & {
				.bg-img("features-reveal-internet-bg-cs.jpg");
				@media (min-width: @screen-sm-min) {
					.bg-img("features-reveal-bg-cs.jpg");
				}
			}
			h2 {
				left: 0%;
			}
			.transition-properties(left .8s ease-out);
			.callout-content {
				.slight {
					font-size: 2.733*.8em;
					display: block;
				}
				.strong {
					font-size: 3.216*.8em;
					display: block;
				}
				.stronger {
					font-size: 4.4*.8em;
				}
				.strongest {
					font-size: 7.2*.8em;
					.central-states & {
						font-size: 6.8*.8em;
						letter-spacing: -2px;
					}
				}
			}
			&.revealed {
				left: -100%;
				@media( min-width: @screen-sm-min) {
					left: -50%;
				}
			}
		}
		&.right-panel {
			right: 0%;
			.bg-img("features-reveal-voice-bg.jpg");
			@media (min-width: @screen-sm-min) {
				background-position-x: right;
				.bg-img("features-reveal-bg.jpg");
			}
			.ie8 & {
			}
			h2 {
				right: 0;
				display: none;
				@media( min-width: @screen-sm-min) {
					display: block;
				}
			}
			.transition-properties(right .8s ease-out);
			.callout-content {
				.strong {
					font-size: 2.315*.8em;
					display: block;
				}
				.stronger {
					font-size: 4.468*.8em;
				}
				.strongest {
					font-size: 7.2*.8em
				}
			}
			&.revealed {
				right: -100%;
				@media( min-width: @screen-sm-min) {
					right: -50%;
				}
			}
		}
	}
	&.introduced {
		.callout-content {
			opacity: 1;
		}
	}
}