body {
	background: white;
}

.container {
	.font-size(13px);
	@media (min-width: @screen-lg-min) {
		width: @container-md;
	}
	.ie8 & {
		width: @container-md;
	}
	&.container-main {
		background: @lp-light-gray-bg;
	}
}

.col-main {
	background: white;
	box-shadow: inset -8px 0px 16px fadeout(black, 76%);
	@media(min-width: @screen-lg-min) {
		width: percentage(646/@container-md);
	}
	.ie8 & {
	}
}

.col-aside {
	display: none;
	@media(min-width: @screen-sm-min) {
		display: block;
	}
	@media(min-width: @screen-lg-min) {
		width: percentage(324/@container-md);
	}
	.ie8 & {
		display: block;
	}
}

.row-header {
	background: white;
	height: 46px;
	@media(min-width: @screen-sm-min) {
		height: 84px;
	}
	@media(min-width: @screen-md-min) {
		height: 99px;
	}
	.transition-properties(height .8s ease-in-out);
	.logo-wrapper {
		display: block;
		width: 100px;
		padding-top: 10px;
		padding-bottom: 5px;
		.transition-properties(width .8s ease-in-out);
		&:extend(.img-svg-responsive all);
		@media(min-width: @screen-sm-min) {
			width: 180px;
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 15px;
		}
		@media(min-width: @screen-md-min) {
			width: 230px;
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 15px;
		}
	}
	&.sticky {
		position: fixed;
		top: 0;
		height: 38px;
		z-index: 100;
		background: white;
		box-shadow: 0px 4px 12px fadeout(black, 76%);
		@media(min-width: @screen-sm-min) {
			height: 59px;
		}
		.logo-wrapper {
			width: 100px;
			padding: 5px;
			@media(min-width: @screen-sm-min) {
				width: 150px;
				padding: 10px;
			}
		}
	}
}

.eyebrow-area {
	width: 100%;
	height: 40px;
	background: #7c8283;
	background-size: cover;
	display: table;
	@media(min-width: @screen-xs-min) {
		background-size: 100% auto;
	}
	@media(min-width: @screen-sm-min) {
		height: 45px;
	}
	.eyebrow-header {
		.opensans-regular;
		.font-size(13px);
		strong {
			font-weight: none;
			.opensans-bold;
		}
		@media(min-width: @screen-xs-min) {
			.font-size(16px);
		}
		@media(min-width: @screen-sm-min) {
			.font-size(24px);
		}
		color: white;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
}