HTML, BODY {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif; 
    background-color: white;
	  background-image: url('../img/background.jpg');
    background-repeat: no-repeat;  
    background-position: 50% 0%;  
}

#container-main {
		width: 960px;
		max-width: 960px;
		min-width: 960px;
		padding: 0;
		min-height: 674px;
		
		-webkit-text-size-adjust:100%;
}

/*** header */
#row-header {
	margin-top: 28px;
	z-index: 500;
}
#col-logo {
	padding-left: 44px;
}
#col-phone{
	text-align: right;
	padding-top: 32px;
	padding-right: 88px;
	
	font-size: 30px;
	font-weight: 600;
	color: white;
}
#col-phone A,
#col-phone A:visited, 
#col-phone A:hover
{
	color:white;
	text-decoration:none;
}

/*** main speedos */
#row-main {
	margin-top: 38px;
	min-height: 570px;

}

#innercontainer1{
    /* top: 140px; */
    position: absolute;
    left: 0;
    width: 100%;
    height: 440px;
}
#intermediate{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    margin:0 auto;
}
#innercontainer2{
    max-width: 960px;
    top: 0;
    left: 0;
    height: 440px;
    margin:0 auto;
    position: relative;
}
#user-canvas, #charter-canvas, #results-canvas {
    position:absolute;
    top:0;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    margin-top: -73px;
    filter:inherit;
    /*
  	margin-top: -35px;
  	*/
  	
}
#results-canvas {
    filter:inherit;
}

/** gauge elements */
image#user-needle {
		/*
		-webkit-filter: drop-shadow(0px 0px 21px 9px rgba(255, 0, 0, 0.5)) !important;
		-filter: drop-shadow(0px 0px 21px 9px rgba(255, 0, 0, 0.5)) !important;
		-webkit-filter: drop-shadow(5px 5px 5px #F00) !important;

		filter: url(drop-shadow.svg#drop-shadow)  !important;
		*/
}

text#cbspeed, text#usrspeed ,
text#cbspeed > TSPAN, text#usrspeed > TSPAN
{
	font-family: 'Open Sans', sans-serif !important; 
	font-size: 36px !important;
	font-weight: 700 !important;
	fill: #fff  !important;
	background-color:rgba(0, 0, 0, 0) !important;
	-webkit-text-shadow: -2px 6px 6px rgba(0, 0, 0, .75) !important;	
	text-shadow: -2px 6px 6px rgba(0, 0, 0, .75) !important;
	
}
text#cbspeed{
	z-index: 5500;
}
text#usrmbps, text#cbmbps {
	font-family: 'Open Sans', sans-serif  !important;
	font-size: 22px  !important;
	font-weight: 700  !important;
	fill: #fff  !important;
	background-color:rgba(0, 0, 0, 0) !important;	
	white-space: inherit !important;
	-webkit-text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.75) !important;
	text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.75) !important;
}


text#currentSpeed1, text#currentSpeed2, text#charterSpeed1, text#charterSpeed2{
  font-family: 'Open Sans', sans-serif  !important;
	font-size: 25px  !important;
	font-weight: 800  !important;
	text-transform: uppercase !important;
  fill: #0072ae !important;
}

text#statusLine1,text#statusLine2,text#statusLine3 {
  font-family: 'Open Sans', sans-serif  !important;
	font-size: 22px  !important;
	font-weight: 800  !important;
	text-transform: uppercase !important;
  fill: #fff !important;
	-webkit-text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.16) !important;	
	text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.16) !important;
}

text#testingLine1,text#testingLine2,text#testingLine3, 
text#completeLine1, text#completeLine2
{
  font-family: 'Open Sans', sans-serif  !important;
	font-size: 28px  !important;
	font-weight: 800  !important;
	text-transform: uppercase !important;
  fill: #fff !important;
	-webkit-text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.16) !important;
	text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.16) !important;
}

text#usrlabelDL, text#usrlabelUL, text#cblabelDL, text#cblabelUL{
  font-family: 'Open Sans', sans-serif  !important;
	font-size: 18px  !important;
	font-weight: 700  !important;
	text-transform: uppercase !important;
  fill: #fcb033 !important;
}

text#usrDL, text#usrUL, text#cbDL, text#cbUL{
  font-family: 'Open Sans', sans-serif  !important;
	font-size: 28px  !important;
	font-weight: 700  !important;
  fill: #fff !important;
  -webkit-text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.75) !important;
	text-shadow: -2px 6px 6px rgba(0, 0, 0, 0.75) !important; 
}

/** results **/

#resultsContainer {
	margin-top: 485px;
	margin-bottom: 175px;
	
	display: none;	
	/* border: 1px red solid; */
}
#resultsSlow-copy {
	padding-left: 60px;
}
#resultsSlow-copy H3 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 600;
}
#resultsSlow-copy H3 .times-faster {
	color: #009681;
	font-weight: 800;
}
#resultsSlow-copy H4 {
	font-size: 19px;
}


/* results table */
#rt {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 40px;
	margin-right: 20px;
	width: 100%;
	
	/* border: 1px pink solid; */
}
#rt TD {
	text-align: center;
}
#rt TD.rt-heading {
	font-size:16px;
	font-weight: 700;
	text-align:left;
}
#rt-main {
	font-weight:800;
}
#rt-heading-row {
	vertical-align: bottom;
	border-bottom: rgb(207,207,207) double 3px;
}
#rt-heading-row TD {
	padding-bottom: 18px;
}
#rt-heading-row STRONG {
	font-weight:800;
}
#rt-your {
	border-bottom: rgb(207,207,207) double 3px;
}
#rt-your TD {
	padding: 24px 0;
}
#rt-cb {
	
}
#rt-cb TD ,
#rt-cb TD.rt-heading
{
	padding-top: 20px;
	color: #0072ae;
	font-weight:800;
}

/* results slow form */
#resultsSlow-form {
	padding-left: 6px;
	padding-right: 70px;
	padding-top: 18px;
}
#rsf-header {
	padding: 18px;
	color: white;
	background-color: rgb(36, 128, 180);
	-webkit-box-shadow: -3px 9px 9.1px 0.9px rgba(0, 0, 0, 0.16);
	box-shadow: -3px 9px 9.1px 0.9px rgba(0, 0, 0, 0.16);
}
#rsf-header H3 {
	font-size: 28px;
	font-weight: 600;
	margin:0;
}
#rsf-header A,
#rsf-header A:visited, 
#rsf-header A:hover
{
	color: white;
	text-decoration: none;
}
#rsf-formbox {
	font-size: 15px;
	font-weight: 600;
	margin-top: 12px;
	padding: 18px;
	background-color: rgb(241,241,241);
	-webkit-box-shadow: -3px 9px 9.1px 0.9px rgba(0, 0, 0, 0.16);
	box-shadow: -3px 9px 9.1px 0.9px rgba(0, 0, 0, 0.16);
}
.formCharter .form-group {
	overflow: hidden;
	margin-bottom: 12px;
}
.formCharter .form-group-last {
	margin-bottom: 0;
}

.formCharter INPUT {
	width: 185px;
	height: 30px; 
	border: none;
	padding: 2px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: center;
	font-weight: 600;
}
.formCharter LABEL {
	float: left;
	width: 92px;
	height: 30px;	
	margin-right: 18px;	
}
.formCharter LABEL P {
	height: 30px;
	width: 92px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	
	font-size:12px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;	
}
.formCharter LABEL.rsf-required {
	height: 12px;
}
.formCharter LABEL.rsf-required P {
	height: 12px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
	font-style: italic;
	text-transform: none;
}
.formCharter #rsf-secure {
	padding-top:10px;
	margin: 0 auto;
	text-align: center;
	font-size:12px;
	font-weight: 600;
}
.formCharter #rsf-secure IMG {
	position: relative;
	top: -2px;
}
#resultsSlow-form #leadButtonContainer {
	padding-left: 27px;
}


/** results fast */
#resultsFast {
	margin-top: -60px;
}
#resultsFast-copy {
	margin: 0 138px;
	font-size: 22px;
	line-height: 40px;
	font-weight: 700;
}
#resultsFast-copy STRONG {
	font-weight: 800;
	color: #00609e;
}

#rff-formbox {
	margin: 25px 135px 0 135px;
	padding: 25px;
	max-height: 385px;
	overflow: hidden;
	/* min-height: 380px; */
	background-color: rgb(241,241,241);
	box-shadow: -3px 9px 9.1px 0.9px rgba(0, 0, 0, 0.16);
}

#rff-formbox H3 {
	font-size: 28px;
	font-weight: 600;
	margin: 0 0 12px 0;
	color: #00609e;
}
#rff-formbox-content A,
#rff-formbox-content A:visited, 
#rff-formbox-content A:hover
{
	color: #00609e;
	text-decoration: none;
}

#rff-formbox {
	font-size: 14px;
	font-weight: 600;
}
#rff-formbox BUTTON {
	position: relative;
	top: -88px;
	left: 350px;

	margin-left: 34px;
}
#rff-formbox #rsf-secure {
	position: relative;
	top: -74px;
	left: 425px;
	
	text-align: left;
}

#rf-instructions {
	margin: -85px 175px -85px 175px;
	font-size: 18px;
	line-height: 24px;
	
	display:none;
}
#rf-instructions STRONG {
	color: #00609e;
	font-weight: 600;
}
#rf-instructions A,
#rf-instructions A:visited, 
#rf-instructions A:hover
{
	color: #00aeef;
	text-decoration: none;
}
#rf-instructions OL {
	list-style-type: none;
	counter-reset: item;
	margin: 0;
	padding: 0;
}
#rf-instructions OL > LI {
	padding: 0 0 10px 20px;;
	margin: 0 0 0 0px;
}
#rf-instructions OL > LI:before {
	content: counter(item) ". ";
	counter-increment: item;
	
	color: #00609e;
	font-weight: 600;
	
	margin-left: -20px;
}

/* offers */
#rs-offer {
	margin-top: 30px;
	text-align: center;
}
.rf-offer {	
	position: relative;
	top: -268px;
	left: 630px;
	z-index: 1000;
}

#rs-offer-1 {

}
#rs-offer-2 {
	display:none;
}
#rf-offer-1 {

}
#rf-offer-2 {
	top: -287px;
	left: 575px;
	
	display:none;	
}

/* results page with no flash */

#resultsFast.results-noflash {
	margin-top:-130px;
}
#rff-formbox-heading-noflash {
	display:none;	
	margin-bottom: 25px;
}
#rff-formbox-heading-noflash H3 {
	text-align:center;
	font-size: 22px;
	line-height: 28px;
	font-weight: 600;
	font-style: italic;
}
#rff-formbox-heading-noflash H3 SUP {
	font-size: 14px;
}

#resultsFast.results-noflash #rff-formbox BUTTON {
	top: -162px;
}
#resultsFast.results-noflash #rff-formbox #rsf-secure {
	top: -148px;
}
#rsf-message-noflash {
	display:none;
	font-size: 14px;
	font-weight: 400;
	color: black;
}
#resultsFast.results-noflash #rff-formbox #rsf-message-noflash {
		position: relative;
		left: 370px;
		top: -100px;
}


/** welcome elements */
#welcome {
		position: absolute;
		top: 29px;
		left: 395px;
		width: 565px;
		z-index: 100;
		
		display:none;
}
#welcome H1 {
	color: white;
}
#welcome H1 .welcome-first {
	padding-left: 30px;
	margin:0;
	text-transform: uppercase;
	font-size: 32px;
	line-height: 32px;
	font-style: italic; 
	font-weight: 800;
}
#welcome H1 .welcome-first SUP {
	vertical-align: 15px;
	font-size:12px;
	font-style: normal;
	font-weight: 600;
}
#welcome H1 .welcome-second {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 95px;
	line-height: 95px;
	font-style: italic; 
	font-weight: 800;
	letter-spacing: -0.025em;
}
#welcome H2.welcome-offer {
	display: block;
	background-image: url('../img/welcome-offer-bg.png');
	background-repeat: no-repeat; 
	min-height: 90px;
	z-index: 200;
	
	font-weight: 700;
}
#welcome H2#welcome-offer-1 {
	visibility: hidden;
}
#welcome H2#welcome-offer-2 {
	display:none;
}

#welcome H2 .welcome-offer-first {
	margin-left: 72px;
	padding-top: 20px;
	font-size: 18px;
	margin-bottom: 5px;
}
#welcome H2 .welcome-offer-second {
	margin-left: 65px;
	font-size: 24px;
}
#welcome H2 .welcome-offer-2-first,
#welcome H2 .welcome-offer-2-second {
	font-size: 3rpx;
	line-height:34px;
	font-weight: 800;
}
#welcome H2 .welcome-offer-2-first {
	margin: 0 0 0 90px;
	padding-top: 10px;
}
#welcome H2 .welcome-offer-2-second {
	margin: 0 0 0 115px;
	padding-top: 0px;
}

#welcome .welcome-button {
	margin-left: 127px;
	margin-top: 25px;
}
#welcome .welcome-button-up {
	margin-top: 100px;
}


#welcome-no-flash {
	display:none;
	position: absolute;
	top: 40px;
	left: 300px;
	width: 660px;
	z-index: 200;	
}	
#welcome-no-flash H1 {
	margin: 0;
	color: white;
	font-size: 37px;
	line-height: 47px;
	font-style: italic;	
	font-weight: 800;
	text-align: center;
}
#welcome-no-flash H2 {
	margin-top: 100px;
	color: black;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
#welcome-no-flash .welcome-no-flash-url {
	font-weight: 700;
}

/** restart **/
#restartButton {
		position: absolute;
		top: 283px;
		left: 397px;
		z-index: 200;
}


/*** Disclaimer */
#disclaimer H5 {
	display:none;
	margin: 0 20px;
	font-size:14px;
	font-weight: 700;
	color: #000;
}
#disclaimer IMG.disclaimer-icon {
	visibility: hidden;
	position: relative;
	float: left;
	left: -10px;
	top: -3px;
}
#disclaimer P.copyright {
	margin: 0 20px 10px 20px;
	font-size:12px;
	color: #000
}
#disclaimer P.copyright A, 
#disclaimer P.copyright A:visited
{
	color: #00aeef;
	text-decoration: none;
}
.disclaimer-copy {
	display:none;
}
.disclaimer-copy-visible {
	display:block;
}

/*** buttons */
.button {
	display:inline-block;
	border: none;
	height: 48px;
	text-align: left;	
		
	color: white;
	text-transform: uppercase;
	font-family: Arial, sans-serif; 
	font-weight: 600;
	font-size: 20px;
	line-height: 45px; 
	background: none;
	background-repeat: no-repeat;
	-webkit-text-shadow: 0px 1px 0.99px #ccc;
	text-shadow: 0px 1px 0.99px #ccc; 
}
.button:active {
	position: relative;
	top: 3px;
	left: 3px;
}
.button:hover {
	background-position: top right;
}

.button1 {
	background-image: url('../img/button228-orange.png');
	width: 234px;
	padding-left: 16px;
}
.button2 {
	background-image: url('../img/button270-orange.png'); 
	width: 281px;
	padding-left: 15px;
}
.button3 {
	background-image: url('../img/button270-orange.png'); 
	width:281px;
	padding-left:46px;
}

/** For CB Button Test **/
button.Speedtest-testmyspeed-Green2 {
	background-image: url('../img/button228-green.png');
}
button.Speedtest-getfreequote-Green2 {
	background-image: url('../img/button270-green.png'); 
}
button.Speedtest-learnmore-Green2 {
	background-image: url('../img/button270-green.png'); 
}
button.Speedtest-switchtoday-Green2 {
	background-image: url('../img/button270-green.png'); 
}

button.Speedtest-testmyspeed-Teal2 {
	background-image: url('../img/button228-teal.png');
}
button.Speedtest-getfreequote-Teal2 {
	background-image: url('../img/button270-teal.png'); 
}
button.Speedtest-learnmore-Teal2 {
	background-image: url('../img/button270-teal.png'); 
}
button.Speedtest-switchtoday-Teal2 {
	background-image: url('../img/button270-teal.png'); 
}

button.Speedtest-testmyspeed-Orange2 {
	background-image: url('../img/button228-orange.png');
}
button.Speedtest-getfreequote-Orange2 {
	background-image: url('../img/button270-orange.png'); 
}
button.Speedtest-learnmore-Orange2 {
	background-image: url('../img/button270-orange.png'); 
}
button.Speedtest-switchtoday-Orange2 {
	background-image: url('../img/button270-orange.png'); 
}



.restartTest {
	background-image: url('../img/restart.png');
	width: 166px;
	font-size: 0px;
	line-height: 0px;	
	display: none;
}


#errorModal{
    display: none;
    z-index: 12000;
}



